language: node_js

node_js:
  - lts/*

before_install:
  - bash <(curl -s https://codecov.io/bash)

after_script:
  - codecov

before_deploy:
  - echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
  - echo "//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}" >> .npmrc

deploy:
  # Publish to https://registry.npmjs.org/
  - provider: script
    script: npx lerna publish from-package --yes --registry=https://registry.npmjs.org/
    skip_cleanup: true
    on:
      branch: master

  # Publish to https://npm.pkg.github.com/
  - provider: script
    script: npx lerna publish from-package --yes --registry=https://npm.pkg.github.com/
    skip_cleanup: true
    on:
      branch: master

env:
  global:
    - secure: BmxZYy1pPN5cyXFsmibjLPfB2F5HkX64LIw3wZxbsuEFH3rz3ly30RJw9t0UAQFP1TIcv7/jllDb1e57nCW5YWL9cJyycjwshxWuiq+IsOSzTvKT2h4ud4IfjmgvOV3ywd4mtO8pXhmxL9JMC5UQV59eYytxtF0g/p4y/wsWBY7yN5qIHzrxrrgnfxyGrtfqB8OHfztCSgxaYeb4Vd1tE0UCERbPJq6De3eC7XuhCideJ+DmaBK4/LhNxUj3RP64uF8AbwhUjLC/Fg7zdy0KTPg5gkfIfkvxBehlUyHoG6yW2ds6FkcBGhKIlnNsgyvyYEIbP5HWEaSRDOYGRWnXp2FsScahCBoKQAfPlCSYjFQo+AtLE26ykI4+iJ16iB294dXH7xVY9Cm/L8hk2FhvDun5xccqgHwyAAmE0n4PgbqWDTvqb8GLhcuRmpbwXrrQ9kVNFXrTiMi4l2VwKSBawWyLaWJFtVzEA0fkfcawFWAh36eNgdwtzRT0wkoriJz9YI0O0DQqqvD0Qt23VnbanKcxliXJ6k31pbUDJUPdhqMQshrdkNAmFNNspDJWFbYW6d+sTBQehQvqVBQr/JO1SNY18mfdq2px4OCebsQb7lvN2McfIkdiy5OnxoXgbk9+qRw+D/SaVCgN0PMPPlWiLwMGxyXP3qWz9AHSXoAEEeA=
    - secure: AIT6OfTcDQ9hMVlyMYnn2h6IzUQi2dGU4/yYiefKH8DWDJcEOs1quutcj5yCTtJH4PcWO78kWuSW4WsjijgTGITse6Yd6yqB9yj3ywm1jLR3EFlp55HnqziUXGg/DaCVSJRyMeqItijf9etuPB0IqYgeEgxTDt4e8wIWgWXx8ZW90NAiP+TI7iBelRtZK/VpzpOR79TRb8JOFSLBxIgVobOmR1ikm2u04aDTd6g4DBDvCcKwDKLcQiU2l2pMkpbGNsgqD80LXeA5RC15JwBBvr8t1bOP84h0aIR+J4rhXAqgdrXIc3tDchn35uRW/KeZL53M7G1n1NoEesK9bNgHRLfZXMXbjW/lLGqkwRxyGaEytv3hNUTZ8LVZph5bQLlGrh1xa7BiyfoLTb2LeVRJlIYjtobZxxmD45jkZnt0LmTbdzeoq/zBrnJE26PbkZpQ1aHsZHR+OfwUqzVyWFgYKJSKBaWz0AuXIKOpoEVBTuA8W1Eazb+eESur5z91QSo6r2Q27cPbTQfGKuEiXnTMkdWQ3tda3PK94h3P62wjsuxd/pEDiBXG1J7go84tKV2yuQuAe4WfkuUeIy14Cc/dqert4U795Sc3CPRlgMasC1dbuBXnhYjnxhrCtLHrlDX9TWTzALn0KEVUbK4oJRhBty/SJiMgCF1vUM+1f0KzDYw=
